.window
  position absolute
  box-shadow 1px 1px 8px rgba(0,0,0,0.5)
  background #fff
  &-top
    position relative
    width 100%
    height 25px
    &__controls
      display flex
      flex-direction row-reverse
      width 100%
    &__btn
      text-decoration none
      color #000
      padding 0 4px
      font-size 14px
      line-height 8px
      position relative
      top 3px
      right 4px
      height 17px
      width 16px
      display inline-block
      line-height 13px
  &-content
    &__img
      // margin-bottom 10px
    &__text
      // margin-top 10px
      line-height 20px
      h3
        font-size 20px
        border-bottom 1px solid #000
        padding-bottom 5px
        display inline-block
      p
        &:first-of-type
          margin-top 0
        &:last-of-type
          margin-bottom 0

.is-minimized
  bottom 0 !important
  top initial !important
  min-width 80px
  .window-content
    display none

.window--chromeless
  .window-top
    background transparent
    position absolute
  &.window--chromeless__img
    background #000
    color #fff
    .window-close-btn
      color #fff
    .window-content
      padding 10px
      width 200px

.window--regular
  border 1px solid #000
  .window-top
    border-top 1px solid #fff
    border-left 1px solid #fff
    background #000
    &__btn
      background #fff
      border-top 1px solid #333
      border-left 1px solid #333
      &:first-of-type
        order 2
        margin-right 3px
  .window-content
    padding 1px
    &__text
      width 190px
      padding 10px
